.btn {
  border: none;
  background-color: #F5F5F5;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

h4 {
  color: green;
}